{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Меню
{% endblock %}

{% block styles %}

<style>
    body {
        margin: 0;
        position: relative;
        overflow-x: hidden;
        background-color: #1a1a1a;
        font-family: 'Poppins', sans-serif;
        padding-top: 80px;
    }

    .main-container {
        max-width: 1200px;
        margin: 50px auto 20px auto;
        padding: 40px 20px;
        background-color: #f8f4e3;
        border-radius: 15px;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
        color: #343a40;
    }

    .custom-heading {
        text-align: center;
        font-size: 2.8em;
        color: #d19e56;
        margin-bottom: 40px;
        font-weight: bold;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.85);
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s, transform 0.3s;
    }

    .custom-heading:hover {
        transform: translateY(-3px);
    }

    .nav-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 60px;
        background-color: #f8f4e3;
    }

    .nav-menu a {
        margin: 10px 15px;
        font-size: 1.5em;
        color: #d19e56;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid transparent;
        border-radius: 10px;
        transition: all 0.3s;
        flex: 1 1 calc(50% - 40px);
        text-align: center;
    }

    .nav-menu a:hover {
        border: 2px solid #d19e56;
        background-color: rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }

    .section {
        text-align: center;
        margin: 20px;
        flex: 0 0 calc(50% - 40px);
    }

    .section img {
        display: block;
        margin: 0 auto 10px auto;
        width: 200px;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s;
    }

    .section img:hover {
        transform: scale(1.05);
    }

    .section a {
        display: block;
        font-size: 1.5em;
        color: #d19e56;
        text-decoration: none;
        padding: 10px 20px;
        margin-bottom: 10px;
        transition: color 0.3s, background-color 0.3s;
    }

    .section a:hover {
        color: #fff;
        background-color: #d19e56;
        border-radius: 5px;
    }

    .section p {
        font-size: 0.9em;
        color: #555;
        margin-top: 15px;
        padding: 0 10px;
        text-align: center;
    }

    @media (max-width: 992px) {
        .nav-menu a {
            flex: 1 1 calc(50% - 40px);
        }
    }

    @media (max-width: 768px) {
        .nav-menu a {
            flex: 1 1 100%;
        }

        .section {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .section img {
            width: 150px;
        }

        .custom-heading {
            font-size: 2.5em;
            padding: 15px;
            margin-bottom: 30px;
        }

        .section a {
            font-size: 1.3em;
            padding: 8px 16px;
        }

        .section p {
            font-size: 0.85em;
        }
    }

    @media (max-width: 576px) {
        .nav-menu {
            flex-direction: column;
            align-items: center;
        }

        .nav-menu a {
            flex: 1 1 100%;
            max-width: 90%;
            margin: 10px 0;
            font-size: 1.2em;
            padding: 8px 16px;
        }

        .section img {
            width: 120px;
        }

        .custom-heading {
            font-size: 2em;
            padding: 10px;
            margin-bottom: 20px;
        }

        .section a {
            font-size: 1.1em;
            padding: 6px 12px;
        }

        .section p {
            font-size: 0.8em;
        }
    }

    a {
        color: #d19e56;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #a87c41;
        text-decoration: underline;
    }

    @media (max-width: 576px) {
        .custom-heading, .nav-menu a, .section a {
            box-shadow: none;
        }

        .section img:hover {
            transform: none;
        }
    }
</style>

{% endblock %}

{% block content %}
    <div class="main-container">
        <h1 class="custom-heading">Меню Paradiso</h1>

        <div class="nav-menu">
            <div class="section">
                <img src="{% static 'main/menu/drinks_preview_.png' %}" alt="Напитки">
                <a href="{% url 'drinks' %}">Напитки</a>
                <p>Погрузитесь в мир напитков Paradiso! Наши бариста с радостью приготовят <br> для вас что-то особенное, что сделает ваш день ярче</p>
            </div>
            <div class="section">
                <img src="{% static 'main/menu/snacks_preview.png' %}" alt="Закуски">
                <a href="{% url 'snacks' %}">Закуски</a>
                <p>Проверьте наши аппетитные закуски, идеально сочетающиеся с кофе! <br> В каждом укусе — забота о вашем вкусе</p>
            </div>
            <div class="section">
                <img src="{% static 'main/menu/desserts_preview.png' %}" alt="Десерты">
                <a href="{% url 'desserts' %}">Десерты</a>
                <p>У нас есть все для сладкоежек! Насладитесь нашими десертами, которые <br>  идеально сочетаются с вашим любимым напитком</p>
            </div>
            <div class="section">
                <img src="{% static 'main/menu/combo.png' %}" alt="Комбо">
                <a href="{% url 'combo_and_special_offers' %}">Комбо и специальные предложения</a>
                <p>Скомпонуйте свой идеальный день с нашим комбо! Наслаждайтесь ароматным кофе в компании с изысканными десертами, приготовленными с любовью</p>
            </div>
        </div>
    </div>
{% endblock %}
