body {
    background: url('/static/main/background.jpg') no-repeat center center fixed;
    background-size: cover;
}



.nav-link {
    color: #855320;
    background-color: cornsilk;
    border-radius: 25px;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.7s, color 0.5s, box-shadow 0.5s;
    text-decoration: none;
    margin-right: 40px;
}


.nav-central {
    margin-right: auto;
    padding-left: 15px;
}

.brand-link {
    display: flex;
    justify-content: center;
    align-items: center;
}


.brand-link img {
    height: 65px;
    margin-right: 35px;
}

.fs-4 {
    color: #d19e56;
}

.custom-heading {
    color: #b87333;
}